:root{
    --dark: #2C3E4F;
    --lightgray: #888888;
}

/* RESET */

ul,ol,menu{
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

/* HEADER */

.main-header{
    background-color: var(--dark);
}

.main-header .hamburger-menu{
    color: var(--lightgray);
}