:root{
    --dark: #2C3E4F;
    --darker: #2B3E51;
    --lightdark: #3B536D;
    --lightgray: #888888;
    --green: #19BC9B;
    --white: #ffffff;
}

/* RESET */

ul,ol,menu{
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}

button{
    border: none;
    background-color: transparent;
}

/* HEADER */

.main-header{
    background-color: var(--dark);
}

.main-header .hamburger-menu{
    color: var(--lightgray);
}

/* MAIN - Section .hero */

.hero{
    background-color: var(--green);
}

/* MAIN - Section .portfolio */

.portfolio__title,
.portfolio__tiele + p{
    color: var(--dark);
}

/* MAIN - Section .about */

.about{
    background-color: var(--green);
}

/* MAIN - Section .contact-me */
.contact-me{
    color: var(--dark);
}

.contact-me input,
textarea{
    outline: none;
    border-bottom: 1px solid var(--lightgray);
}

.contact-me button{
    background-color: var(--green);
}

/* FOOTER */

.main-footer{
    background-color: var(--lightdark);
}

.main-footer .container i{
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.main-footer span{
    color: var(--green);
}

.main-footer .container-fluid{
    background-color: var(--darker);
}



